*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #2c5364,#0f2027);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;   
}

.slider{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite; /*manejador de tiempo de vueltas*/
}

@keyframes rotate{
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(350deg);
    }
}

.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*500deg)) translateZ(350px);
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    object-fit: cover;
    transition: 1s;
}

.slider span:hover img{
    transform: translateY(-50px) scale(1.2);
}

.slider p {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height:  45px;
    color: black;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;

}